<h1>Carrito de Compras</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>
        <strong>{{this.product.title}}</strong> – ${{this.product.price}} – Cantidad: {{this.quantity}}
        <button onclick="location.href='/api/carts/{{../cart._id}}/products/{{this.product._id}}'">Eliminar</button>
      </li>
    {{/each}}
  </ul>
  <p>Total: ${{total}}</p>
  <button onclick="location.href='/api/carts/{{cart._id}}/delete'">Vaciar carrito</button>
{{else}}
  <p>No hay productos en tu carrito.</p>
{{/if}}
